<!DOCTYPE html>
<html>
  <head>
    <title>CamsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- renders the partial created. no _ needed -->
    <%= render 'layouts/messages' %>
  <!-- yields to other html pages to load -->
    <%= yield %>
  </body>
</html>
